*
{
  box-sizing: border-box;
}
header{
    background-color: #494E61;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
img{
    height: 40px;
    border-radius: 5px;
}
.login_info{
    display: grid;
    text-align: right;
    grid-gap: 5px;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 18px 18px;
}
.login_info img{
    grid-column: 2/3;
    grid-row: 1/3;
    
}
.login_info p{
    margin: 0;
    padding: 0;
}
.question{
    background-color: #FFF6F7;
    height: 200px
}
