/*container*/
.container{
    margin: 0 auto;
    padding: 0px;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;

}
/*topic list*/

.topic{
    display:grid;
    grid-template-columns: 60px 1fr 50px;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid rgba( 119, 119, 119, 0.3 );
    padding: 10px;
}
.topic1{
    display:grid;
    text-align: center;
    background-color:  #ffeef0;
    padding: 5px;
}
.topic1 img{
    margin: 0 auto;
    width: 30px;
    align-self: center;
    padding: 5px;
}
.topic2{
    text-align: left;
    padding: 20px;
    align-self: center;
    color: #2d2d2d
}
.topic3{
    height: 50px;
    width: 50px;
    border-radius: 15%;
     align-self: center;
}
.main{
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.main h2{
   font-family: 'Ultra', serif;
    font-size: 1.8em;
}
.topiclist{
    text-align: center;
    position: relative;
    margin: 0px auto;
    padding: 10px;
}
.extra{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    position: relative;
}

/*header*/
header{
    margin-top: 0px;
    background-color: #ffeef0;
    text-align: center;
}
header h1{
    color: #f75c3c;
    font-family: 'Ultra', serif;
    font-size: 2.2em;
    padding-top: 30px;
}
header input{
    height: 70px;
    width: 80%;
    padding-left: 10px;
    border: 5px solid pink;
    background-color: rgba( 241, 239, 250, 0.931 );
    margin: 20px;
    font-size: 20px;
}
header button{
    background-color: #331dff;
    font-family: 'Ultra', serif;
    letter-spacing: 0.1em;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    width: 280px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*header*/
nav{
    display: grid;
    grid-template-columns: minmax(50px, 70px) 1fr ;
    align-items: center;
    align-items: center;
    background-color: #494e60;
    height: 60px;
  }
.logo{
    width: 150px;
    margin-left: 15px;
}

.login{
    grid-column: -1;
    align-self: -1;
    height: 60px;
    width: 200px;
    display:grid;
    margin-right: 10px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px;
}
.p1{
    grid-column: 1;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
    align-self: flex-end;
    text-align: right;
    color: #BBB;
    font-size: 15px;
}
.p2{
    grid-column: 1;
    grid-row: -1;
    padding: 0px;
    margin: 0px;
    align-self: flex-start;
    text-align: right;
    font-size: 15px;
}
.p2 a{
    color: pink;
}
.profile{
    width: 35px;
    height: 35px;
    grid-column: 2;
    grid-row: 1 / 3;
    margin-left: 10px;
    align-self: center;
    border-radius: 5px;
}